* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    padding: 20px 50px;
    background: slateblue;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}